.calculator{
    width: 370px;
    height: 400px;
    margin: 100px auto;
    border: 4px solid rgb(43, 42, 42);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: #f9f9f9;
}
#input{
        width: 345px;
    height: 51px;
    padding-left: 0px;
    padding-top: 10px;
    margin-left: 15px;
}
#btn{
       width: 50px;
    height: 44px;
    margin-left: 30px;
    margin-top: 19px;
}